.toast.show {
  position: fixed;
  right: 30px;
  top: 70px;
}

.toast-error {
  border: 1px solid #fb3f3f5d !important;
  -webkit-box-shadow: 0 0.25rem 0.75rem #ef464649 !important;
          box-shadow: 0 0.25rem 0.75rem #ef464649 !important;
}

.toast-error .toast-header strong {
  color: red !important;
}

canvas {
  width: 100%;
}

.red-star {
  color: red;
}

.navbar {
  background-color: #000;
  padding: 10px 10% !important;
}

.navbar-brand {
  font-weight: 700;
}

.navbar .navbar-nav {
  margin-left: 20px;
}

.navbar .navbar-nav .nav-item {
  font-size: 14px;
}

.main {
  background-color: #f2f2f2;
  padding-top: 50px;
  min-height: 98vh;
}

.main .form-wrapper {
  background-color: #fff;
  padding: 30px 50px;
}

.main .form-wrapper .encrypted-connection {
  color: #2c9f42;
  font-size: 14px;
}

.main .form-wrapper .form .add-btn {
  margin-left: 5px;
}

.main .form-wrapper .form .date-emp {
  gap: 30px;
}

.main .form-wrapper .form .canvas-container {
  border: 1px dashed rgba(126, 126, 126, 0.726);
  padding: 30px;
}

.main .form-wrapper .form .canvas-container .canvas-info {
  padding-top: 10px;
}

.main .form-wrapper .form .canvas-container .canvas-info .btn-clean {
  padding: 5px 15px;
  border-radius: 0;
}

.main .form-wrapper .form .canvas-container .wrapper-canvas {
  border: 1px solid rgba(194, 194, 194, 0.747);
}

.main .form-wrapper .form .canvas-container #tablet {
  width: 100%;
}

.main .form-wrapper .form .agreement {
  background-color: rgba(47, 119, 209, 0.15);
  color: #4b5e75;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.main .form-wrapper .form .agreement li:not(:last-child) {
  margin-bottom: 10px;
}

.main .form-wrapper .form .form-el-description {
  color: #c5c5c5;
}

.main .form-wrapper .form .form-name {
  margin-top: 20px;
}

.main .form-wrapper .form .form-section {
  margin-top: 50px;
}

.main .form-wrapper .form .form-section__name {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #262626;
}

.main .form-wrapper .form .form-section__name h2 {
  font-size: 24px !important;
}

.page-wrap {
  min-height: 100vh;
  background-color: #dedede;
}

@media screen and (max-width: 760px) {
  .main {
    padding-top: 20px;
  }

  .main .form-wrapper {
    padding: 30px 20px;
  }

  .canvas-container {
    padding: 20px;
  }

  .canvas-container canvas {
    min-height: 150px;
  }

  .tab-content.p-3 {
    padding: 0.7rem !important;
  }
}

@media screen and (max-width: 400px) {
  .main .form-wrapper .form .date-emp {
    gap: 15px;
  }

  .main .form-wrapper {
    padding: 20px 10px;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (max-width: 760px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 400px){

@supports (-webkit-appearance:none){

}

}
